# 排除docker相關文件
.docker.env
.dockerignore
Dockerfile
docker-compose.yaml

# 排除所有層級的node_modules目錄(通常包含Node.js專案的依賴庫)
**/node_modules/

# 排除版控相關的文件和目錄
.git/
**/.gitignore
**/.gitattributes

# 排除開發工具配置文件
**/.eslintrc.js
.editorconfig
.eslintignore

# 排除原有的前端建置靜態網頁資料
# 靜態網頁資料會再docker build時再建置
dist/

# 排除不必要的文檔文件
# .env.local.example
*.example
.github/
functions/
.firebaserc
README.md
